body{
  padding-top: 70px; /* required by fixed-top navbar */
  font-family: Bellota, serif !important;
  background-color: #eee;
  color: #111111;

}

nav{
  color: #111111;
}

.navbar{
  font-family: Bellota !important;
  font-weight: bold;
  font-size: 1.25em;
      color: #111111;

}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default{
  border: 0;
  border-radius: 0;
  background: transparent;
  transition: all 1s;
}

.navbar-brand, .nav-link{
  color: #111111;
}


.card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
}



#img-me{
  max-height: 350px;
  /*border-color: black;*/
}


.leer-mas{
  color: #85144b;
  background-color: transparent;
  border-color: #85144b;
    /*border: none;*/
    /*background-color: #85144b;*/
}

/*#btn-consulta, #btn-taller, #btn-cacao{*/
/*  color: #004966;*/
/*  background-color: #7FDBFF;*/
/*  border: none;*/
/*}*/

/* Footer */
.wn-footer {
padding: 1.5rem;
text-align: center;
color: black;
  background-color: transparent;
border-top: .05rem solid #e5e5e5;
}

.wn-footer a {
color: yellow;
}





.paral {
/*min-height: 400px;*/
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
/*background-position: 50% 50%;*/
}

.paral-lg{
    min-height: 400px;

}

.paral-md{
    min-height: 200px;

}
.paral p {
font-size: 24px;
color: #111111;
text-align: center;
line-height: 60px;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.2);

}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.paral h1 {
/*color: rgba(255, 255, 255, 0.8);*/
  color: #111111;
/*    color: #111111;*/

  font-size: 60px;
  text-align: center;
  padding-top: 60px;
  line-height: 100px;

    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
      /*text-shadow: 0 1px 0 #ccc,*/
      /*         0 2px 0 #c9c9c9,*/
      /*         0 3px 0 #bbb,*/
      /*         0 4px 0 #b9b9b9,*/
      /*         0 5px 0 #aaa,*/
      /*         0 6px 1px rgba(0,0,0,.1),*/
      /*         0 0 5px rgba(0,0,0,.1),*/
      /*         0 1px 3px rgba(0,0,0,.3),*/
      /*         0 3px 5px rgba(0,0,0,.2),*/
      /*         0 5px 10px rgba(0,0,0,.25),*/
      /*         0 10px 10px rgba(0,0,0,.2),*/
      /*         0 20px 20px rgba(0,0,0,.15);*/
}



.paral-first {

  background-image:url("../static/food2-v1.png");
}

.paralsec1 {
background-image: url("https://img.webnots.com/2017/05/parallax1.jpg");}

.paralsec2 {
background-image: url("https://img.webnots.com/2015/11/parallax2.jpg");
}

.jumbotron{
  margin-bottom: 0;
}
