body{
    padding-top: 70px; /* required by fixed-top navbar */
    font-family: Bellota, serif !important;
    background-color: #eee;
    color: #111111;
    line-height: 1.75em
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.75em

}


nav{
    color: #111111;
}

.navbar{
    font-family: Bellota !important;
    font-weight: bold;
    font-size: 1.25em;
    color: #111111;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default{
    border: 0;
    border-radius: 0;
    background: transparent;
    transition: all 1s;
}

.navbar-brand, .nav-link{
    color: #111111;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.contact{
    font-family: Bellota !important;
    /*font-weight: bold;*/
    font-size: 1.5em;
    color: #111111;
    /*padding-top:100px;*/
    display: inline-block;
    /*text-decoration: none;*/
    /*padding-top: 52px;*/
    /*margin-top: 5px;*/
}

#img-me{
    max-height: 350px;
    /*border-color: black;*/
}


.leer-mas{
    color: #85144b;
    /*background-color: transparent;*/
    /*border-color: #85144b;*/
    /*border: none;*/
    /*background-color: #85144b;*/
}

.wn-footer {
    padding: 1.5rem;
    text-align: center;
    color: black;
    background-color: transparent;
    border-top: .05rem solid #e5e5e5;
}

.wn-footer a {
    color: yellow;
}

.paral {
    /*min-height: 400px;*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 50% 50%;*/
}

.paral-lg{
    min-height: 400px;

}

.paral-md{
    min-height: 200px;

}
.paral p {
    font-size: 24px;
    color: #111111;
    text-align: center;
    line-height: 60px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

.paral h1 {
    color: #111111;
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
}

.paral-first {
    background-image:url("../static/food2-v1.png");
}

.jumbotron{
    margin-bottom: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

/*.scale{*/
/*  transform: scale(1, 1);*/
/*  transition: transform 0.5s ease;*/
/*}*/

/*.box:hover .scale{*/
/*  transform: scale(1.5, 1.5);*/
/*}*/

.card:hover {
      transform: scale(1.1);
  /*transition: 0.2s all cubic-bezier(0.175, 0.1, 0.32, 0.275);*/

  transition: 0.2s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}